<!DOCTYPE html>
<html>
	<head>
		{% load staticfiles %}
		<title>{% block title %}OSQLTUNING{% endblock %}</title>

		<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}" />
		<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
	</head>

	<body>
		<div class="navbar navbar-inverse">
			{% block topbar %}
			<div class="navbar-inner">
				<a class="brand" href="#">OSQLTUNING</a>
				<ul class="nav">
					<li class="active"><a href="/">Connections</a></li>
					<li><a href="#">Querys</a></li>
					<li><a href="#">Results</a></li>
				</ul>
				<ul class="nav pull-right">
					<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">{{ user.username }}<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/logout">Logout</a></li>
					</ul>
					</li>
				</ul>
			</div>
        		{% endblock %}
		</div>

    		<div class="container">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>
