{% extends "base.html" %}

{% block content %}

<!-- CONNECTION LIST TABLE -->
<div class="well">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Connection Name</th><th>Hostname</th><th>Username</th><th>Service Name</th><th>EDIT</th>
    </tr>
  </thead>
  <tbody>
{% for conn in connlist %}
  <tr>
    <td><a href="edit={{ conn.conname }}"> {{ conn.conname }} </a></td><td>{{ conn.hostname }}</td><td>{{ conn.username }}</td><td>{{ conn.servicename }}</td><td><a href="#"><i class="icon-wrench"></i></a></td>
  </tr>
{% endfor %}
  </tbody>
</table>
</div>
  
{% endblock %}

